//fonts
$abril: "Abril Fatface";
$lato: "Lato";

//Colors
//color cube
$driftwood: #ae8652;
$driftwood-hover: #926a34;
$emperor: #505050;
$silver-chalice: #b1b1b1;
$cod-gray: #111110;

//median cut
$recent-blog-bg: #f5f5f5;